* {
    border-radius: 1vh;
}

#container {
    border: solid black 0.1vh;
    width: 70vh;
    height: 50vh;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "nameInput" "nameInput" "nameInput"
    "textarea" "textarea" "textarea"
    "btn" "btn" "btn" 
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 3vh;
}

#nameInput {
    grid-area: nameInput;
    margin: auto;
    width: 100%;
    height: 100%;
}

#textarea {
    grid-area: textarea;
    margin-bottom: 2vh;
}

#btn {
    grid-area: btn;
}

