/* input[type=checkbox]:checked + label {
  font-size: 3em;
  color:green;
  text-decoration: line-through;
} */


.checked {
    text-decoration: line-through;
} 

#input {
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #0A5990;
}

h1 {
  margin-left: 15px;
  margin-top: 15px;
}

#containerz {
  margin-left: 15px;
}

#todo-container {
  margin-left: 15px;
}

#addBtn {
  margin-bottom: 15px;
}