* {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  color: #000;
}
#container {
  display: grid;
  grid-template-areas: "header nav" "main main";
  grid-template-columns: 200px 1fr;
}
@media screen and (max-width: 755px) {
  #container {
    grid-template-areas: "header" "main" "nav";
  }
  nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
header {
  grid-area: header;
}
header .logo {
  display: block;
  max-width: 200px;
  max-height: 100px;
  height: auto;
  width: auto;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
}
nav ul li {
  padding: 10px;
  text-decoration: none;
}
@media screen and (min-width: 756px) {
  nav ul li:last-child button[type=submit] {
    font-size: 17px;
    float: right;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url("../images/96px/baseline_search_black_48dp.png");
    background-color: #DDD;
    background-size: contain;
  }
  nav ul li:last-child input[type="text"] {
    font-size: 17px;
    border: none;
    padding: 6px;
  }
}
@media screen and (max-width: 755px) {
  nav ul li:last-child input[type="text"] {
    display: none;
  }
  nav ul button[type=submit] {
    background-color: #FFF;
    font-size: 17px;
    float: right;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-image: url("../images/96px/baseline_search_black_48dp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
#home-icon {
  background: url(../images/96px/baseline_home_black_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
#customers-icon {
  background: url(../images/96px/baseline_supervised_user_circle_black_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
#calendar-icon {
  background: url(../images/96px/baseline_calendar_today_black_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
#todo-icon {
  background: url(../images/96px/baseline_format_list_bulleted_black_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
#search-icon {
  background: url("../images/96px/baseline_search_black_48dp.png");
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
