* {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  color: #000;
  box-sizing: border-box;
}
#container {
  display: grid;
  grid-template-areas: "header nav" "main main";
  grid-template-columns: 200px 1fr;
}
.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #FFF;
}
#customersOverview,
#customerCard {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: normal;
}
@media screen and (max-width: 755px) {
  #container {
    grid-template-areas: "header" "main" "nav";
    grid-template-columns: 1fr;
  }
  nav {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #customersOverview,
  #customerCard {
    bottom: 84px;
  }
}
header {
  z-index: 99;
  background-color: #0A5990;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  grid-area: header;
}
header .logo {
  display: block;
  max-height: 70px;
  height: auto;
  width: auto;
}
main {
  margin-top: 100px;
  grid-area: main;
  white-space: nowrap;
  padding-bottom: 10px;
}
main #overviewTable table tbody tr td {
  cursor: pointer;
}
nav {
  width: 100%;
  z-index: 99;
  background-color: #0A5990;
  grid-area: nav;
}
@media screen and (min-width: 756px) {
  nav {
    top: 0;
    right: 0;
  }
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 0px;
}
nav ul li {
  padding: 10px;
  text-decoration: none;
}
@media screen and (max-width: 755px) {
  nav ul #addNewCustomerDiv {
    left: 0;
    bottom: 80px;
    width: 100%;
    min-width: 200px;
    padding: 15px;
  }
}
.invalid-feedback {
  font-weight: bold;
  color: #FFF !important;
}
.btn {
  background-color: #0A5990 !important;
  border-color: #0A5990 !important;
}
.btn:hover {
  background-color: #073c60 !important;
  border-color: #073c60 !important;
}
#home-icon {
  background: url(../images/96px/baseline_home_white_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#customers-icon {
  background: url(../images/96px/baseline_person_add_white_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#reminder-icon {
  background: url(../images/96px/baseline_calendar_today_white_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#todo-icon {
  background: url(../images/96px/baseline_format_list_bulleted_white_48dp.png);
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#search-icon {
  background: url("../images/96px/baseline_search_white_48dp.png");
  display: block;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#addNewCustomerDiv {
  position: absolute;
  margin-top: 60px;
  border-radius: 5px;
  width: 20%;
  min-width: 200px;
  padding: 15px;
}
#newCustomer > input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 5px;
}
#newCustomer > input:first-child {
  margin-top: 0;
}
#createBtn {
  padding: 10px;
  background-color: #E91F3E;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
  margin-top: 10px;
}
#createBtn:focus {
  outline: none;
}
