@mainColor1: #E91F3E;
@mainColor2: #0A5990;
@backgroundColor1: #FFF;
@backgroundColor2: #000;
@fontColor: #000;

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    color: @fontColor;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-areas:
        "header nav"
        "main main";

    grid-template-columns: 200px 1fr;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #FFF;
}

@media screen and (max-width: 755px) {
    #container {
        grid-template-areas:
            "header"
            "main"
            "nav";
            grid-template-columns: 1fr;
    }

    nav {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}


header {
        z-index: 99;
        background-color: white;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        grid-area: header;
    .logo {
        display: block;
        max-height: 100px;
        height: auto;
        width: auto;
    }
}

#customerOverview {
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 150px;
    overflow-y:auto;
    overflow-x: auto;
}

main {
    margin-top: 100px;
    grid-area: main;
    white-space: nowrap;
    padding-bottom: 10px;

    #overviewTable table tbody tr td {
        cursor: pointer;
    }
}
nav {

    @media screen and (min-width: 756px) {
        top: 0;
        right: 0;
    }
    position: fixed;
    z-index: 99;
    background-color: white;
    grid-area: nav;
    width: 80%;
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        justify-content: space-between;

        li {
            padding: 10px;
            text-decoration: none;
        }

        @media screen and (min-width: 756px) {
            li:last-child {
                button[type=submit] {
                    font-size: 17px;
                    float: right;
                    border: none;
                    cursor: pointer;

                    width: 32px;
                    height: 32px;
                    background-image: url("./../images/96px/baseline_search_black_48dp.png");
                    background-color: #DDD;
                    background-size: contain;
                }

                input[type="text"] {
                    font-size: 17px;
                    border: none;
                    padding: 6px;
                }


            }
        }

        @media screen and (max-width: 755px) {
            li:last-child {
                input[type="text"] {
                    display: none;
                }
            }
            button[type=submit] {
                background-color: #FFF;
                font-size: 17px;
                float: right;
                border: none;
                cursor: pointer;
                width: 48px;
                height: 48px;
                background-image: url("./../images/96px/baseline_search_black_48dp.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

    }
}



#icons() {
    display: block;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#home-icon {
    background: url(./../images/96px/baseline_home_black_48dp.png);
    #icons();
}

#customers-icon {
    background: url(./../images/96px/baseline_person_add_black_48dp.png);
    #icons();
}

#calendar-icon {
    background: url(./../images/96px/baseline_calendar_today_black_48dp.png);
    #icons();
}

#todo-icon {
    background: url(./../images/96px/baseline_format_list_bulleted_black_48dp.png);
    #icons();
}

#search-icon {
    background: url("./../images/96px/baseline_search_black_48dp.png");
    #icons();
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;

    div {
        box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
    }

    div:nth-child(1) {
        animation-delay: -0.45s;
    }

    div:nth-child(2) {
        animation-delay: -0.3s;
    }
    div:nth-child(3) {
        animation-delay: -0.15s;
    }
}

@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
<<<<<<< HEAD
}

#addNewCustomerDiv {
    position: absolute;
    bottom: 86px;
    border-radius: 5px;
    margin-left: 20px;
    width: 20%;
    min-width: 200px;
    padding: 15px;
}

  #addNewCustomer { //första knappen
    padding: 10px 15px 10px 15px;
    background: @mainColor2;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: @backgroundColor1;
}
=======
  }

  #addNewCustomerDiv {
      position: absolute;
      border-radius: 5px;
      margin-left: 100px;
      width: 20%;
      min-width: 200px;
      padding: 15px;
  }

//   #addNewCustomer { //första knappen
//     padding: 10px 15px 10px 15px;
//     background: @mainColor2;
//     border: none;
//     border-radius: 5px;
//     text-decoration: none;
//     font-size: 16px;
//     color: @backgroundColor1;
//   }
>>>>>>> b124b3057904d119b573062dfc7844f51ce8ba5c

#newCustomer > input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
}

#newCustomer > input:first-child { 
    margin-top: 0;
}

  #createBtn { //andra knappen
    padding: 10px;
    background-color: @mainColor1;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: @backgroundColor1;
    margin-top: 10px;
}